@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

body {
  @apply scrollbar-hide;
  background-color: var(--color-background);
  color: var(--text-color-primary);
  overflow-y: scroll;
} 

body::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #059669;
  --color-primary-dark: #065f46;
  --color-secondary: #ecfdf5;

  --color-background: #f8fafc;
  --color-background-soft: #ffffff;
  --color-background-elevated: #f1f5f9;

  --color-accent: #10b981;
  --color-accent-glow: rgba(16, 185, 129, 0.05);

  --color-success: #10b981;
  --color-success-glow: rgba(16, 185, 129, 0.12);
  --color-danger: #ef4444;
  --color-danger-glow: rgba(239, 68, 68, 0.12);

  --text-color-primary: #064e3b;
  --text-color-secondary: #374151;
  --text-color-muted: #9ca3af;

  --border-color-primary: #e5e7eb;
  --border-color-secondary: #f3f4f6;
}

.dark {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-secondary: #022c22;

  --color-background: #010404;
  --color-background-soft: #060d0d;
  --color-background-elevated: #0d1a1a;

  --color-accent: #34d399;
  --color-accent-glow: rgba(52, 211, 153, 0.15);

  --color-success: #34d399;
  --color-success-glow: rgba(52, 211, 153, 0.22);
  --color-danger: #f87171;
  --color-danger-glow: rgba(248, 113, 113, 0.22);

  --text-color-primary: #ecfdf5;
  --text-color-secondary: #94a3b8;
  --text-color-muted: #3f6259;

  --border-color-primary: #132a26;
  --border-color-secondary: #060d0d;
}
